@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@custom-variant dark (&:where(.dark, .dark *));

.leaflet-popup-content-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important; /* se quiser remover o arredondado padrão */
}

/* remove o padding interno */
.leaflet-popup-content {
  margin: 0 !important;
  padding: 0 !important;
}

/* tira o botão de fechar */
.leaflet-popup-close-button {
  display: none !important;
}